@import './colors.scss';

body.dark-theme {
  --background-color: #{$black-800};
  --text-color: #{$white-100};
}

body.light-theme {
  --background-color: #{$white-100};
  --text-color: #{$black-800};
}
